<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To Team UP</h1>
            <a href="/waitingList"><h5>See The Waiting List</h5></a>
        </div>
    </header>
</div>



<% include partials/footer %>